section#pets {
	// background-color: red;
	padding-block: 3rem;
	.container {
	position: relative;
		h4 {
			text-transform: capitalize;
			margin-top: 10px;
		}
		a {
			i {
				margin-left: 10px;
				font-size: 10px;
			}
			position: absolute;
			top: 1rem;
			right: 0rem;
		}
		.grid-puppy {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
			.puppy {
				padding: 5px;
				background-color: $light;
				border-radius: 5px;
				gap: 10px;
				p {
					font-size: 0.8rem;
					// margin-block: 7px;
				}
				img {
					border-radius: 10px;
				}
			}
		}
	}
}