$darkblue: #003459;
$mon-yellow: #F7DBA7;
$pink-red: #FF564F;
$greenlight: #34C759;
$orange: #FF912C;
$lightblue: #00A7E7;
$black: #000;
$white: #fff;
$grey: #808080;
$light: #FDFDFD;
$blue: rgba(0, 0, 255, 0.83);